<div class="flex items-center justify-center w-fit my-7 mx-auto">
    <div class="bg-white shadow-md rounded w-full">
        <div class="text-center">
            <h3 class="text-xl font-semibold text-gray-800">{{message}}</h3>
            <h1 class="text-4xl text-gray-600">{{error.status}}</h1>
        </div>
        <pre class="text-lg text-gray-700 text-center mt-2">{{error.stack}}</pre>
    </div>
</div>
