<div class="bg-MypaleGrey">
 
<div class="h-fit w-full sm:w-10/12 mx-auto py-7">
            <div class="flex items-center gap-2 text-xs text-gray-600 mb-3">
                <a href="" class="hover:underline">Trang chủ</a>
                <i class="fa-solid fa-angle-right"></i>
                <a href="" class="hover:underline">Giỏ hàng</a>
                <i class="fa-solid fa-angle-right"></i>
                <a href="" class="last:text-black font-medium">Thanh toán</a>
            </div>

            <div class="flex gap-3 flex-col xl:flex-row">

                <div class="min-w-[300px]">
                    <div class="bg-white w-full p-3">
                        <p class="text-gray-400 text-lg">Địa chỉ giao</p>
                        <div class="flex py-3">
                            <div class="mr-4">
                                <p class="whitespace-nowrap">Tên:</p>
                                <p class="whitespace-nowrap">Số điện thoại:</p>
                                <p class="whitespace-nowrap">Địa chỉ:</p>
                            </div>
                            <div>
                                <p>Bùi Quang Minh</p>
                                <p>0706162561</p>
                                <p>78 Lê Tấn Trung, thọ quang, sơn trà, đà nẵng</p>
                            </div>
                        </div>
                        <div class="border-t border-gray-300 pt-5 pb-2">
                            <p class="text-center text-xl text-gray-500">Tổng tiền</p>
                            <p class="text-center text-xl text-red-700">35.000đ</p>
                        </div>
                    </div>
                    <div class="bg-white w-full p-3 border-t-8 border-MypaleGrey">
                        <p class="text-gray-400 text-lg">Tài khoản ngân hàng</p>
                        <div class="flex py-3">
                            <div class="mr-4">
                                <p class="whitespace-nowrap">Ngân hàng:</p>
                                <p class="whitespace-nowrap">Số tài khoản:</p>
                                <p class="whitespace-nowrap">Tên tài khoản:</p>
                            </div>
                            <div>
                                <p>Quân đội (MB bank)</p>
                                <p>117092003</p>
                                <p>Bui Quang Minh</p>
                            </div>
                        </div>
                        <p class="mx-auto text-gray-400 w-fit text-lg">Hoặc</p>
                        <div class="pb-3">
                            <img src="/images/bank.jpg" class="h-[200px] w-[170px] rounded-md mx-auto">
                        </div>
                    </div>
                    <button class="py-2 bg-MypaleYellow text-white w-full mt-3 text-lg hover:bg-MydarkYellow">
                        Đã thanh toán
                    </button>
                </div>

                <div class="w-full bg-white h-fit">
                    <table class="min-w-full text-center text-sm table-auto">
                        <thead class="font-medium">
                            <tr>
                                <th scope="col" class="px-2 sm:px-6 py-4 text-left">Sản phẩm</th>
                                <th scope="col" class="px-2 sm:px-6 py-4">Đơn giá</th>
                                <th scope="col" class="px-2 sm:px-6 py-4">Số lượng</th>
                                <th scope="col" class="px-2 sm:px-6 py-4 sm:min-w-[115px]">Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="first:border-t-8 first:border-MypaleGrey border-t border-gray-200">
                                <td class="px-2 sm:px-6 py-4">
                                    <div class="flex gap-2">
                                        <img src="/assets/btt1.jpg" alt="" class="hidden md:block w-[80px] h-[100px] object-cover">
                                        <p>Bông tẩy trang cottonpad 222 miếng top 1 thế giới</p>
                                    </div>
                                </td>
                                <td class="whitespace-nowrap px-2 sm:px-6 py-4 align-top">20.000đ</td>
                                <td class="whitespace-nowrap px-2 sm:px-6 py-4 align-top">
                                    <div>
                                        <p>5</p>
                                    </div>
                                </td>
                                <td class="whitespace-nowrap px-2 sm:px-6 py-4 align-top text-base text-red-700">20.000đ</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="p-4 border-t border-gray-300">
                        <p class="text-gray-500">Ghi chú</p>
                        <p class="text-sm text-gray-500">Việt nam trong tôi là điều tuyệt vời nhất thế giới dù chỉ là 1 nước nhỏ</p>
                    </div>
                </div>

            </div>
        </div>

</div>